:root {
    --primary-color: #646165;
    --secondary-color: #187795;
    --tertiary-color: #4D9078;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: helvetica, arial, sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    color: var(--tertiary-color);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* header end */

/* footer style start */
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    align-items: center;
    padding: 30px;
}

footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
}

footer p {
    color: var(--tertiary-color);
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--tertiary-color);
}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer div ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer div ul li p {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* footer end */

/* hero start */
.hero {
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero div {
    margin: 30px;
    padding: 60px;
}

/* hero end */

/* about me style */

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    border-color: var(--primary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}


.intro {
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    margin: 0 auto 35px auto
}

.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    border-color: var(--primary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--secondary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-work {
    display: flex;
    align-items: center;
    
}


.works {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    margin: auto 55px ;
    flex-wrap: wrap;
}

.description {
    display: flex;
    flex-wrap: wrap;
    color: #035d79;
    color: var(--tertiary-color);
    border-bottom: solid var(--tertiary-color);
    align-items: center;
    margin: 35px 0 8px 20px;
    max-width: 90px;
    position: absolute;
    background-color: var(--primary-color);
    /* justify-content: space-between; */
    z-index: 7;
}